body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

#quiz-container {
  width: 300px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}
